%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et
{cover_enabled, true}.

{deps, [
	{lhttpc, ".*",
	  {git, "https://github.com/oscarh/lhttpc.git", {branch, "master"}}},
	{jsx, ".*",
	  {git, "https://github.com/talentdeficit/jsx.git", {tag, "v1.4.1"}}},
	{edown, ".*", 
	  {git, "https://github.com/esl/edown.git",{branch, "master"}}},
	{sync, ".*",
	  {git, "https://github.com/rustyio/sync.git",{branch, "master"}}},
	{rebar_lock_deps_plugin, ".*",
	  {git, "https://github.com/seth/rebar_lock_deps_plugin.git", {branch,"master"}}},
	{uuid, ".*",
	  {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}},
	{poolboy, ".*",
      {git, "https://github.com/devinus/poolboy.git",{branch, "master"}}}
]}.

{sub_dirs, ["rel"]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{erl_opts, [
	debug_info
]}.

{clean_files, [
    "test/*.beam",
    "erl_crash.dump",
    "log"
  ]}.

{edoc_opts, [
	{layout, edown_layout},
	{doclet, edown_doclet},
	{app_default, "http://www.erlang.org/doc/man"},
	{stylesheet, ""},
	{image, ""},
	{source_path, ["src/*.erl"]},
	{top_level_readme,
		{"./doc/README.md", "http://lucas564985699.github.io/erl_social"}},
	{pretty_printer, erl_pp}
  ]}.

{xref_checks, [undefined_function_calls]}.

{xref_queries, [
    {"((XC - UC) || (XU - X - B))", []},
    {"(L - LU)", []}
  ]}.
